* {
    font-size: 1vw;
}

body,
html {
    height: 100%;
    background-image: url('programming-code.jpg');
    background-attachment: fixed;
    background-origin: content-box;
    background-size: cover;
}

#ava {
    margin: auto;
    width: 70%;
}

header {
    height: 100%;
}

.heder-container {
    height: 100%;
    margin: auto;
    padding: auto;
    clip-path: circle(130% at -10% 120%);
    shape-outside: circle(10% at 0% 50%) border-box;
    shape-margin: 1em;
    background-color: antiquewhite;
}

.centered {
    margin: auto;
    padding: auto;
}

main,
.jumbotron {
    background-color: antiquewhite;
    height: auto;
    max-height: 200%;
    min-height: 100%;
}

main {
    clip-path: circle(143.40% at 110% 120%);
    shape-outside: circle(10% at 0% 50%) border-box;
    shape-margin: 1em;
    background-color: antiquewhite;
    text-align: right;
    display: flex;
    margin-bottom: 0 auto;
    justify-content: center;
    width: 100%;
}

#ava {
    border-radius: 100%;
    border: 2px double #afabab;
    margin: 0;
    max-width: 100%;
    max-height: auto;
}

.image-conteiner {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
}

.display-12 {
    margin-left: 7%;
    margin-right: 10%
}

/* hr { 
    position: absolute;
    height:280px;
    width:3px;
    -webkit-transform: rotate(150deg);
     -moz-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
       -o-transform: rotate(150deg);
       border: 3px solid #FF0000;
       background-color: #FF0000;
       top: 10px;
       right: 200px;
} */

.block-info {
    margin-left: 20%;
    text-align: center;
    margin-top: 2%;
}

.my-info {
    font-size: 1.4em;
}

ul {
    list-style-type: none;
    /* ! Убираем маркеры у списка */
    color: #800808cb;
    font-size: 1.4em;
    margin-left: 20%;
    text-align: justify;
}

/* li{
    display: flex;
    justify-content: center;
    align-items: baseline;
} */

span {
    color: #000000cb;
    ;
}

.display-44 {
    text-align: center;
    color: #000000cb;
    
}

.qualification {
    padding-left: 10px;
    margin-bottom: 22%;
}

.response {
    width: 30%;
    height: 30%;
}

@media screen and (max-width:740px) {
    * {
        font-size: 2vw;
    }
    .heder-container, footer {
        clip-path: circle(60.96% at 60.81% 50.00%);
        shape-outside: circle(70% at 70% 70%) border-box;
        shape-margin: 1em;
        background-color: antiquewhite;
    }
    main {
        clip-path: circle(62.34% at 41.75% 50.81%);
        shape-outside: circle(70% at 70% 70%) border-box;
    }
    .image-conteiner {
        justify-content: flex-start;
        margin-top: 15%;
    }
    .block-info {
        margin-left: 0;
    }
    ul {
        margin-left: 0;
    }
    span {
        font-size: 1.4em;
    }
    li {
        padding-top: 4%;
    }
    .my-info {
        line-height: 2.3rem;
    }
    .swiper-container{
        height: 80vw ;
        width: 100%;
        display: block;
        
    }
}


 footer{
    height: auto;
    width: 100%;
    min-height: 100% !important;
    display: flex;
    
    justify-content: center;
align-content: center;
align-items: center;
padding-bottom: 1% ;
        padding-top:9% ;
        background: #FBCEB1;
        background-size: cover;
        -webkit-clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0% 100%);


}
.clip{
    background: #FFDB8B;
    -webkit-clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0% 100%);
    padding-top: 0.5%;
    margin-top: -10%;
}

.swiper-container{
    /* border:5px solid #f30000; */
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: space-around;
    width: 90%;
    height: 80%;
    margin: 0 auto;
    margin-top: 3% !important;
    padding-top: 10%;
        

}
.swiper-wrapper{
    /* border:5px solid #4f49ff;
    display: flex;
    justify-content: center;
    margin: auto; */
   
   

}
.swiper-slide{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.SL{
    margin-right: 0;
    /* border: 10px double #d60000; */
    margin: 0;
    max-width: 100%;
    max-height: auto;
    width:100% !important;
    height: 100% !important;
}
.swiper-pagination-bullets {
  display: none;
  }
 .swiper-pagination-bullet-active {
    color:#fff !important;
    background: #007aff !important;
  }
  .description {
      /* height:50%; */
  }